<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>MyStockTracker</title>
</head>
<header>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/companyInfo">Get Stock Info</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
</header>

<h1>Reached Info Page</h1>


</html>
