<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>MyStockTracker</title>

    <style>
        html {
            background-color: #092635;
            padding: 2rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        p {
            color: #9EC8B9;
            font-size: 1rem;
        }

        a {
            color: #9EC8B9;
        }

        a:visited {
            color: #9EC8B9;
        }

        a:hover {
            color: white;
        }

    .back {
      animation-delay: .25s
    }

    .back:hover {
      color: white;
      border-radius: 5px;
    }

    #yahoo:visited {
			color: #9EC8B9;
		}

		#yahoo:hover {
			color: #5C8374;
		}

        #y {
			position: fixed;
			bottom: 0;
			right: 0;
			color: #9EC8B9;
		}
    </style>
</head>

<body>
    <h2 class="back"><a href="/home"><u>Home</u></a><h2><br>
    <p>Your stocks have been updated! Go to my <a href='/dashboard'>Dashboard</a>.</p>

    <p id="y">&copy; 2023 MyStockTracker&nbsp;&nbsp;•&nbsp;&nbsp;Powered by <a id="yahoo" href="https://finance.yahoo.com/">Yahoo</a>&nbsp;&nbsp;&nbsp;&nbsp;</p>
</body>

</html>