<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
	<title>MyStockTracker</title>

    <style>
    html {
      background-color: #092635;
    }

    header {
      background-color: #9EC8B9;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      align-items: center;
      opacity: 90%;
    }

    body {
      margin-top: 60px;
      padding: 15px;
    }

    header * {
      display: inline;
    }

    header li {
      margin: 25px;
    }

    header li a {
      color: #092635;
      text-decoration: none;
      font-size: 1.5rem;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    nav a:hover {
      color: white;
      box-shadow: 0 0 5px #9EC8B9,
            0 0 25px #9EC8B9,
            0 0 50px #9EC8B9,
            0 0 100px #9EC8B9;
      transition-delay: 0.1s;
      background-size: 4rem;
      transition: all .4s ease;
      -webkit-transition: all .4s ease;
    }

    #yahoo:visited {
			color: #9EC8B9;
		}

	#yahoo:hover {
		color: #5C8374;
	}

    p {
		position: fixed;
		bottom: 0;
		right: 0;
		color: #9EC8B9;
	} 

    h1 {
		overflow: hidden;
		border-right: .15em solid #9EC8B9;
		white-space: nowrap;
		letter-spacing: .05em;
		animation:
			typing 1.2s steps(40) forwards,
			blink-caret .75s infinite
		;
		color: #9EC8B9;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		font-size: 4rem;
		margin-top: 2rem;
        padding-left: 2.5rem;
	}
  .myStocks {
      border: 1px solid #ccc;
      background-color: #d5eddc;
      border-radius: 10px;
      font-family: "JetBrains Mono",monospace;
      padding: 10px;
      margin: 10px;
      text-align: center;
      height: 100px;
      width: 300px;
      display: inline-block;
      opacity: 90%;
    }

  .myStocks:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #1B4242 0 -3px 0 inset;
  	transform: translateY(-2px);
  }

		/* typing effect */
		@keyframes typing {
			from {width: 0%}
			to {width: 23.5%}
		}

		/* typewriter cursor effect */
		@keyframes blink-caret {
			from, to {border-color: transparent}
			50% {border-color: #9EC8B9}
		}
    </style>
</head>

<body>
    <header>
        <nav>
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/companyInfo">Get Stock Info</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </nav>
    </header>
    <main>
        <h1>My Stocks</h1>
        <form id="dashStocks" action="/moreInfo" method="post">
          <% ownedStocks.forEach(stock => { %>
            <input type="hidden" id="tickerInput" name="tickerName">
            <div class="myStocks" data-ticker="<%= stock.company %>" onclick="moreInfo(this)">
              <h3><%= stock.company %></h3>
              <h3>Current Price: <%= stock.currentPrice %></h3>

              <!-- Month<input type="number" name="startMonth"> Day<input type ="number" name="startDay"> Year<input type="number" name="startYear">
              endMonth<input type="number" name="endMonth"> endDay<input type ="number" name="endDay"> endYear<input type="number" name="endYear"> -->
              <!-- <input type="button" value="See chart" onclick="seeChart()"> -->
            </div>
        <% }); %>
      </form>
    </main>
    <script>
      function moreInfo(element) {
        var tickerName = element.getAttribute('data-ticker');
        document.getElementById('tickerInput').value = tickerName;
        console.log(tickerName);
        document.getElementById('dashStocks').submit();
      }
  </script> 

    <p>&copy; 2023 MyStockTracker&nbsp;&nbsp;•&nbsp;&nbsp;Powered by <a id="yahoo" href="https://finance.yahoo.com/">Yahoo</a>&nbsp;&nbsp;&nbsp;&nbsp;</p>
</body>

</html>