<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>MyStockTracker</title>
</head>

<h1>Login</h1>
<form action="/login" method="post">
  <label for="username">Username:</label>
  <input type="text" name="username" required>

  <label for="password">Password:</label>
  <input type="password" name="password" required>

  <button type="submit">Login</button>
</form>


</html>